/* General Style */
html {
    background-color: #e53b51;
}

/* Heading Styles */
nav {
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

nav p {
    font-weight: bold;
    border-radius: 25px;
    border: .3em solid #FFFFFF;
    padding: 1em;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

nav p a {
    text-decoration: none;
}

footer nav p:hover {
    background: #ffe5d1;
    color: black;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: sans-serif;
    font-size: 2.5em;
    color: white;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

/* Subheading Style */
p {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

p a {
    color: white;
}
